<!DOCTYPE html>
<html>

<head>
    <title>Frames</title>
</head>

<body>

<h1>Available Frames</h1>

<form method="GET">

    <p>

        Size:

        <select name="size">

    <option value="">
        All Sizes
    </option>

    {% for size in sizes %}

        <option
            value="{{ size }}"
        >

            {{ size }}

        </option>

    {% endfor %}

</select>

    </p>

    <p>

        Orientation:

        <select name="orientation">

            <option value="">
                All
            </option>

            <option value="VERTICAL">
                Vertical
            </option>

            <option value="HORIZONTAL">
                Horizontal
            </option>

        </select>

    </p>

    <button type="submit">
        Filter
    </button>

</form>

<hr>

{% for variant in frame_variants %}

<div style="margin-bottom:30px;">

    <img
        src="{{ variant.image.url }}"
        alt="{{ variant.frame.name }}"
        width="250"
    >

    <h2>
        {{ variant.frame.name }}
    </h2>

    <p>
        Size: {{ variant.size }}
    </p>

    <p>
        Orientation: {{ variant.orientation }}
    </p>

    <p>
    Thickness: {{ variant.thickness }} 
    </p>

    <p>
        Price: ₹{{ variant.price }}
    </p>
    <a href="{% url 'frame_detail' variant.id %}">
    <button>
        Select Frame
    </button>
    </a>

</div>

<hr>

    <hr>

{% empty %}

    <p>No Frames Found</p>

{% endfor %}

</body>
</html>